ProxyPass /syncthing-{{ DEVICE_NAME }}/ http://{{ DEVICE_NAME }}/syncthing/
<Location /syncthing-{{ DEVICE_NAME }}/>
    ProxyPassReverse http://{{ DEVICE_NAME }}/syncthing/
    Require all granted
</Location>
ProxyPass /syncthing-depl-{{ DEVICE_NAME }}/ http://{{ DEVICE_NAME }}/syncthing-depl/
<Location /syncthing-depl-{{ DEVICE_NAME }}/>
    ProxyPassReverse http://{{ DEVICE_NAME }}/syncthing-depl/
    Require all granted
</Location>
