##########################################################
#                      GLPI setup                        #
##########################################################

- name: Set version for this playbook
  ansible.builtin.set_fact:
    ROLE_VERSION: '1.0.0'

- name: Display version
  ansible.builtin.debug:
    msg:
    - "{{role_name}} version: {{ ROLE_VERSION }}"

- name: GLPI - Add the OS specific variables
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}{{ ansible_distribution_major_version }}.yml"
    - "{{ ansible_os_family }}.yml"

- name: GLPI - Install glpi
  ansible.builtin.yum:
    pkg:
      - glpi-{{ GLPI_VERSION }}.*
      - glpi
      - php-ldap
      - php-xml
      - php-gd
      - php-zip
      - php-xmlrpc
      - php-mbstring
      - php-intl
  when:
    - ansible_distribution == 'CentOS'

- name: GLPI - Install glpi
  ansible.builtin.apt:
    pkg:
      - glpi={{ GLPI_VERSION }}-*
      - php-ldap
      - php-xml
      - php-gd
      - php-zip
      - php-xmlrpc
      - php-mbstring
      - php-intl
  when:
    - ansible_distribution == 'Debian'

- name: GLPI - Install Fusion Inventory
  ansible.builtin.yum:
    pkg:
      - glpi-plugin-fusioninventory-{{ GLPI_VERSION }}*
      - glpi-plugin-fusioninventory
  when:
    - ansible_distribution == 'CentOS'
    - GLPI_PLUGIN == 'fusioninventory'

- name: GLPI - Install Fusion Inventory
  ansible.builtin.apt:
    pkg:
      - fusioninventory-for-glpi={{ GLPI_VERSION }}+*
  when:
    - ansible_distribution == 'Debian'
    - GLPI_PLUGIN == 'fusioninventory'

- name: GLPI - Install Glpi Inventory
  ansible.builtin.apt:
    pkg:
      - glpi-inventory-plugin
  when:
    - ansible_distribution == 'Debian'
    - GLPI_PLUGIN == 'glpiinventory'

- name: GLPI - Install tools needed for the setup
  ansible.builtin.yum:
    state: latest
    pkg:
      - python3-PyMySQL
  when:
    - ansible_distribution == 'CentOS'

- name: GLPI - Install tools needed for the setup
  ansible.builtin.apt:
    state: latest
    pkg:
      - python3-pymysql
  when:
    - ansible_distribution == 'Debian'

- name: GLPI - Create database
  community.mysql.mysql_db:
    login_host: '{{ GLPI_DBHOST }}'
    login_port: '{{ GLPI_DBPORT }}'
    login_user: '{{ DBADMINUSER }}'
    login_password: '{{ DBADMINPASSWD }}'
    name: '{{ GLPI_DBNAME }}'
    state: present

- name: GLPI - Create database user
  community.mysql.mysql_user:
    login_host: '{{ GLPI_DBHOST }}'
    login_port: '{{ GLPI_DBPORT }}'
    login_user: '{{ DBADMINUSER }}'
    login_password: '{{ DBADMINPASSWD }}'
    name: '{{ GLPI_DBUSER }}'
    password: '{{ GLPI_DBPASSWD }}'
    host: '{{ item }}'
    state: present
    priv:
      '{{ GLPI_DBNAME }}.*:ALL'
  with_items:
    - localhost
    - '{{ IP_ADDRESS }}'
  no_log: True

- name: GLPI - Reset GLPI_CHANGED variable
  ansible.builtin.set_fact:
    GLPI_CHANGED: False

- name: GLPI - Check if .dbinitialised is present
  ansible.builtin.stat:
    path: /var/lib/glpi/.dbinitialised
  register: resdbinitialised

- name: GLPI - Set GLPI_DBINITIALISED if .dbinitialised is present
  ansible.builtin.set_fact:
    GLPI_DBINITIALISED: True
  when:
    - resdbinitialised.stat.exists

- name: GLPI - Initialise database
  ansible.builtin.command: php /usr/share/glpi/bin/console -n db:install --db-host={{ GLPI_DBHOST }} --db-port={{ GLPI_DBPORT }} --db-name {{ GLPI_DBNAME }} --db-user {{ DBADMINUSER }} --db-password '{{ DBADMINPASSWD }}' --default-language=fr_FR --force --reconfigure
  when:
    - GLPI_DBINITIALISED is not defined
  register: glpi_init

- name: GLPI - Register GLPI_CHANGED variable
  ansible.builtin.set_fact:
    GLPI_CHANGED: '{{ glpi_init.changed }}'
  when:
    glpi_init.changed

- name: GLPI - Set marker for database initialisation
  ansible.builtin.file:
    path: /var/lib/glpi/.dbinitialised
    state: touch
  when:
    - GLPI_CHANGED | bool

- name: GLPI - Upgrade database if needed
  ansible.builtin.command: php /usr/share/glpi/bin/console -n db:update

- name: GLPI - Configure LDAP authentication
  community.mysql.mysql_query:
    login_host: '{{ GLPI_DBHOST }}'
    login_port: '{{ GLPI_DBPORT }}'
    login_user: '{{ GLPI_DBUSER }}'
    login_password: '{{ GLPI_DBPASSWD }}'
    login_db: '{{ GLPI_DBNAME }}'
    query:
    - INSERT INTO glpi_authldaps (name, host, basedn, port, group_condition, group_search_type, group_member_field, email1_field, realname_field, firstname_field, phone_field, mobile_field, use_dn, language_field, is_default, is_active) values ('LocalLDAP','127.0.0.1','{{ LDAP_BASEDN }}',389,'(&(objectClass=posixGroup)(cn=GLPI-*))',1,'memberuid','mail','sn','givenname','telephonenumber','mobile',0,'preferredlanguage',1,1)
  when:
    - GLPI_CHANGED | bool

- name: GLPI - Define password and enable token for root user
  community.mysql.mysql_query:
    login_host: '{{ GLPI_DBHOST }}'
    login_port: '{{ GLPI_DBPORT }}'
    login_user: '{{ GLPI_DBUSER }}'
    login_password: '{{ GLPI_DBPASSWD }}'
    login_db: '{{ GLPI_DBNAME }}'
    query:
    - UPDATE glpi_users SET name = 'root' WHERE name = 'glpi'
    - UPDATE glpi_users SET password = MD5('{{ GLPI_ADMINPASSWD }}') where name = 'root'
    - UPDATE glpi_users SET api_token = '{{ GLPI_ROOTUSER_APITOKEN }}' where name = 'root'
    - UPDATE glpi_configs SET value='1' WHERE name='enable_api'
    - UPDATE glpi_configs SET value='http://localhost/glpi/apirest.php/' WHERE name='url_base_api'
    - UPDATE glpi_configs SET value='1' WHERE name='enable_api_login_credentials'
    - UPDATE glpi_configs SET value='1' WHERE name='enable_api_login_external_token'
    single_transaction: yes
  no_log: True

- name: GLPI - Make log file writable for all
  ansible.builtin.file:
    path: /usr/share/glpi/files/_log/php-errors.log
    mode: '0666'

- name: GLPI - Initialise session to API
  ansible.builtin.uri:
    url: "http://localhost/glpi/apirest.php/initSession"
    url_username: root
    url_password: '{{ GLPI_ADMINPASSWD }}'
    force_basic_auth: yes
    method: GET
  register: json_session

- name: GLPI - Delete all initially created users apart from glpi/root
  ansible.builtin.uri:
    url: "http://localhost/glpi/apirest.php/User/{{ item }}"
    url_username: root
    url_password: '{{ GLPI_ADMINPASSWD }}'
    force_basic_auth: yes
    headers:
      Session-Token: '{{ json_session.json.session_token }}'
    method: DELETE
    return_content: yes
  with_items:
    - 3
    - 4
    - 5
  register: result
  failed_when: ('not found' not in result.content) and ('introuvable' not in result.content) and (result.status != 200)

- name: GLPI - Delete all initially associated profiles apart from glpi/root
  ansible.builtin.uri:
    url: "http://localhost/glpi/apirest.php/Profile_User/{{ item }}"
    url_username: root
    url_password: '{{ GLPI_ADMINPASSWD }}'
    force_basic_auth: yes
    headers:
      Session-Token: '{{ json_session.json.session_token }}'
    method: DELETE
    return_content: yes
  with_items:
    - 3
    - 4
    - 5
  register: result
  failed_when: ('not found' not in result.content) and ('introuvable' not in result.content) and (result.status != 200)

- name: GLPI - Rename first entity in GLPI
  ansible.builtin.uri:
    url: "http://localhost/glpi/apirest.php/Entity/0"
    url_username: root
    url_password: '{{ GLPI_ADMINPASSWD }}'
    force_basic_auth: yes
    headers:
      Session-Token: '{{ json_session.json.session_token }}'
    method: PUT
    body_format: json
    body:
      input:
        name: '{{ ORGANISATION }}'
        completename: '{{ ORGANISATION }}'
    return_content: yes
  register: result
  failed_when: ('false' not in result.content) and (result.status != 200)

- name: GLPI - Create location in GLPI
  ansible.builtin.uri:
    url: "http://localhost/glpi/apirest.php/Location/"
    url_username: root
    url_password: '{{ GLPI_ADMINPASSWD }}'
    force_basic_auth: yes
    headers:
      Session-Token: '{{ json_session.json.session_token }}'
    method: POST
    body_format: json
    body:
      input:
        name: '{{ ORGANISATION }}'
        completename: '{{ ORGANISATION }}'
        entities_id: 0
        locations_id: 0
    return_content: yes
  register: result
  failed_when: ('Duplicate entry' not in result.content) and (result.status != 201)

- name: GLPI - Enable {{ GLPI_PLUGIN }} plugin after db init
  ansible.builtin.command: php /usr/share/glpi/bin/console {{ item }} {{ GLPI_PLUGIN }}
  with_items:
    - 'glpi:plugin:install --username=root'
    - 'glpi:plugin:activate'
  when:
    - GLPI_CHANGED | bool

- name: GLPI - Configure fusioninventory after db init
  community.mysql.mysql_query:
    login_host: '{{ GLPI_DBHOST }}'
    login_port: '{{ GLPI_DBPORT }}'
    login_user: '{{ GLPI_DBUSER }}'
    login_password: '{{ GLPI_DBPASSWD }}'
    login_db: '{{ GLPI_DBNAME }}'
    query:
    - UPDATE glpi_plugin_fusioninventory_entities SET agent_base_url = 'http://127.0.0.1/glpi', transfers_id_auto = '1' WHERE id='1'
    - INSERT INTO glpi_plugin_fusioninventory_collects VALUES (1,'PulseRegistryCollects',0,1,'registry',1,'Registry values inventories')
    - UPDATE glpi_plugin_fusioninventory_configs SET value='0' WHERE type='manage_osname'
    - INSERT INTO glpi_plugin_fusioninventory_inventorycomputerblacklists (plugin_fusioninventory_criterium_id, value) VALUES ('2', '00020003-0004-0005-0006-000700080009')
    - INSERT INTO glpi_plugin_fusioninventory_inventorycomputerblacklists (plugin_fusioninventory_criterium_id, value) VALUES ('2', 'Not Settable')
    - INSERT INTO glpi_plugin_fusioninventory_inventorycomputerblacklists (plugin_fusioninventory_criterium_id, value) VALUES ('1', 'Not Applicable')
    - INSERT INTO glpi_plugin_fusioninventory_inventorycomputerblacklists (plugin_fusioninventory_criterium_id, value) VALUES ('1', '-')
    - INSERT INTO glpi_plugin_fusioninventory_inventorycomputerblacklists (plugin_fusioninventory_criterium_id, value) VALUES ('1', 'To be filled by O.E.M.')
  when:
    - GLPI_CHANGED | bool
    - GLPI_PLUGIN == 'fusioninventory'

- name: GLPI - Configure glpiinventory after glpi db init
  community.mysql.mysql_query:
    login_host: '{{ GLPI_DBHOST }}'
    login_port: '{{ GLPI_DBPORT }}'
    login_user: '{{ GLPI_DBUSER }}'
    login_password: '{{ GLPI_DBPASSWD }}'
    login_db: '{{ GLPI_DBNAME }}'
    query:
    - UPDATE glpi_entities SET agent_base_url = 'http://127.0.0.1/glpi' WHERE id='1'
    - INSERT INTO glpi_plugin_glpiinventory_collects VALUES (1,'PulseRegistryCollects',0,1,'registry',1,'Registry values inventories')
    - UPDATE glpi_plugin_glpiinventory_configs SET value='0' WHERE type='manage_osname'
    - UPDATE glpi_configs SET value='1' WHERE name='enabled_inventory'
  when:
    - GLPI_CHANGED | bool
    - GLPI_PLUGIN == 'glpiinventory'

- name: GLPI - Set owner of /var/lib/glpi/files/_plugins/fusioninventory
  ansible.builtin.file:
    path: /var/lib/glpi/files/_plugins/fusioninventory
    state: directory
    recurse: yes
    owner: '{{ APACHE_USER }}'
  when:
    - GLPI_PLUGIN == 'fusioninventory'

- name: GLPI - Remove install.php file, not needed after the configuration.
  ansible.builtin.file:
    path: /usr/share/glpi/install/install.php
    state: absent

- name: GLPI - Prevent glpi from begin automatically upgraded
  ansible.builtin.dpkg_selections:
    name: glpi
    selection: hold

- name: GLPI - Prevent fusioninventory-for-glpi from begin automatically upgraded
  ansible.builtin.dpkg_selections:
    name: fusioninventory-for-glpi
    selection: hold
  when:
    - GLPI_PLUGIN == 'fusioninventory'

- name: GLPI - Prevent glpi-inventory-plugin from begin automatically upgraded
  ansible.builtin.dpkg_selections:
    name: glpi-inventory-plugin
    selection: hold
  when:
    - GLPI_PLUGIN == 'glpiinventory'

- name: GLPI - Set url_base in glpi_configs
  community.mysql.mysql_query:
    login_host: '{{ GLPI_DBHOST }}'
    login_port: '{{ GLPI_DBPORT }}'
    login_user: '{{ GLPI_DBUSER }}'
    login_password: '{{ GLPI_DBPASSWD }}'
    login_db: '{{ GLPI_DBNAME }}'
    query:
    - UPDATE glpi_configs SET value = 'http://{{ SERVER_FQDN }}/{{ ITSM_TYPE }}/' WHERE name='url_base';
