- name: Set version for this playbook
  ansible.builtin.set_fact:
    ROLE_VERSION: '1.0.0'

- name: Display version
  ansible.builtin.debug:
    msg:
    - "{{role_name}} version: {{ ROLE_VERSION }}"

- name: EJABBERD - Stop service
  ansible.builtin.systemd:
    name: ejabberd
    state: stopped
  ignore_errors: true

- name: EJABBERD - Delete /var/lib/ejabberd
  ansible.builtin.file:
    path: /var/lib/ejabberd
    state: absent

- name: EJABBERD - Create /var/lib/ejabberd
  ansible.builtin.file:
    path: /var/lib/ejabberd
    state: directory
    mode: '0755'
    owner: ejabberd
    group: ejabberd

- name: EJABBERD - Reset ERLANG_NODE to ejabberd@localhost
  ansible.builtin.lineinfile:
    dest: /etc/default/ejabberd
    line: ERLANG_NODE=ejabberd@localhost
    regexp: '^#?ERLANG_NODE=.*$'
