dn: cn=config
changetype: modify
replace: olcTLSCertificateFile
olcTLSCertificateFile: {{ SLAPD_CERTS_PATH }}/{{ SERVER_FQDN }}.pem
-
replace: olcTLSCertificateKeyFile
olcTLSCertificateKeyFile: {{ SLAPD_CERTS_PATH }}/{{ SERVER_FQDN }}.pem
-
replace: olcTLSCACertificatePath
olcTLSCACertificatePath: /etc/ssl/certs/
