[client]
protocol=tcp
port={{ DBPORT }}
user={{ DBADMINUSER }}
password={{ DBADMINPASSWD }}

[mysql]
protocol=tcp
port={{ DBPORT }}
user={{ DBADMINUSER }}
password={{ DBADMINPASSWD}}

[mysqladmin]
protocol=tcp
port={{ DBPORT }}
user={{ DBADMINUSER }}
password={{ DBADMINPASSWD}}

[mysqlcheck]
protocol=tcp
port={{ DBPORT }}
user={{ DBADMINUSER }}
password={{ DBADMINPASSWD}}

[mysqldump]
protocol=tcp
port={{ DBPORT }}
user={{ DBADMINUSER }}
password={{ DBADMINPASSWD}}
