[{{ MASTER_FQDN.split('.')[0] }}]
type=server
address={{ MASTER_FQDN }}
port={{ MASTER_PORT }}
protocol=MariaDBBackend

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers={{ MASTER_FQDN.split('.')[0] }}
user={{ MAXSCALE_MONITOR_USER }}
password={{ MAXSCALE_MONITOR_USER_PASSWORD }}
monitor_interval=2s
auto_failover=true
auto_rejoin=true

[Read-Write-Service]
type=service
router=readconnroute
router_options=master
enable_root_user=true
servers={{ MASTER_FQDN.split('.')[0] }}
user={{ MAXSCALE_USER }}
password={{ MAXSCALE_USER_PASSWORD }}

[Read-Only-Service]
type=service
router=readconnroute
router_options=slave
servers={{ MASTER_FQDN.split('.')[0] }}
user={{ MAXSCALE_USER }}
password={{ MAXSCALE_USER_PASSWORD }}
