- name: Cleanup
  gather_facts: true
  hosts: all
  remote_user: root
  serial: 1
  vars:
    - ROOT_PASSWORD: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          63313538643738356666343137656562333730376565323534373732633236383665373663383462
          3064363063343963373037326364396634643664343635360a623338656439303537643235646266
          36346236393131656439633264386265346166353938346264663130306333376638326134303337
          6137356136363631390a313766333139333962626266373333636639633163376339363063643030
          3266
    - XMPP_MASTER_PASSWORD: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          64633938623638393532656132343462363433313165383065396565343966636233656166356262
          3034376138343137373035373839643832366361613464640a666337393235633236356637303662
          63336430376565643365346562633237356462623937633864663637333733663466373261356461
          6634303638643330630a316239376337393664336234343339353831626133626339656536376333
          6561
    - AES_KEY: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          30376237323335336237663232383264373234613830663162646366306163346132633133653135
          6237373861643836353535396334343332613133333934640a353164386134356339343735346133
          39316636393832346663666139643266653764376463633436643034313230636564316537663463
          3030626431616461630a313434323031343033383030326636663865383031313532313439343662
          61323664343065646434363262343736323461636561666434383639363637393962363061333166
          6562356332356161303565313539373066633836626133616563
    - DBPASSWORD: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          35336537313435363266383330303236336437396564366462393737636666663736373533643438
          3865663036656664396635666637366563636433646666660a373266613134373065633731306662
          63613762396638316561663138623939653033666361333866663637633966613331663361326162
          3765653537343438310a363761326434356238306565616230646466383536373861393930616136
          3564
  roles:
    - ldap_cleanup
    - ejabberd_cleanup
    - syncthing_cleanup
    - glpi_cleanup
    - grafana_cleanup
    - mmc_cleanup
    - mariadb_cleanup

  # tasks:
  #   - name: SUBSTITUTE_AGENT - Find out name of substitute
  #     mysql_query:
  #       login_host: localhost
  #       login_port: 3306
  #       login_user: root
  #       login_password: siveo
  #       login_db: 'xmppmaster'
  #       query:
  #        - SELECT COUNT( DISTINCT jidsubtitute ) FROM substituteconf  WHERE type = %(type)s")
  #       named_args:
  #         type: 'registration'
  #     register: res_query

  #   - name: Result
  #     debug:
  #       var: res_query
