<Location /guacamole-{{ XMPP_DOMAIN }}/>
    SetEnvIf Referer "^https?://{{ PULSEMAIN_FQDN }}/" GUACAMOLE_ALLOWED
    Order Deny,Allow
    Deny from all
    Allow from env=GUACAMOLE_ALLOWED
    ProxyPass http://{{ SERVER_FQDN }}:8081/guacamole/ max=20 flushpackets=on
    ProxyPassReverse http://{{ SERVER_FQDN }}:8081/guacamole/
    ProxyPassReverseCookiePath /guacamole/ /guacamole-{{ XMPP_DOMAIN}}/
</Location>
<Location /guacamole-{{ XMPP_DOMAIN }}/websocket-tunnel>
    SetEnvIf Referer "^https?://{{ PULSEMAIN_FQDN }}/" GUACAMOLE_ALLOWED
    Order Deny,Allow
    Deny from all
    Allow from env=GUACAMOLE_ALLOWED
    ProxyPass ws://{{ SERVER_FQDN }}:8081/guacamole/websocket-tunnel
    ProxyPassReverse ws://{{ SERVER_FQDN }}:8081/guacamole/websocket-tunnel
    ProxyPassReverseCookiePath /guacamole/ /guacamole-{{XMPP_DOMAIN }}/
</Location>
SetEnvIf Request_URI "^/guacamole/tunnel" dontlog
