[connection]
server = {{ IP_ADDRESS }}
password = {{ XMPP_MASTER_PASSWORD }}

[glpidatabase]
glpi_dbhost = {{ GLPI_DBHOST }}
glpi_dbport = {{ GLPI_DBPORT }}
glpi_dbuser = {{ GLPI_DBUSER }}
glpi_dbpasswd = {{ GLPI_DBPASSWD }}

[xmppdatabase]
xmpp_dbhost = {{ DBHOST }}
xmpp_dbport = {{ DBPORT }}
xmpp_dbuser = {{ DBUSER }}
xmpp_dbpasswd = {{ DBPASSWORD }}
