[connection]
server = {{ IP_ADDRESS }}
password = {{ XMPP_MASTER_PASSWORD }}

[xmppdatabase]
xmpp_dbhost = {{ DBHOST }}
xmpp_dbport = {{ DBPORT }}
xmpp_dbuser = {{ DBUSER }}
xmpp_dbpasswd = {{ DBPASSWORD }}
