[main]
url_to_forward = {{ ITSM_BASEURL }}/plugins/{{ GLPI_PLUGIN }}/front/plugin_fusioninventory.communication.php
enable_forward = True

[database]
dbhost = {{ DBHOST }}
dbport = {{ DBPORT }}
dbuser = {{ DBUSER }}
dbpasswd = {{ DBPASSWORD }}

{% if PULSEMAIN_IP != '' %}
[mmc_agent]
host = {{ PULSEMAIN_IP }}
{% endif %}
