[main]
{% if PUBLIC_IP != '' %}
public_ip = {{ PUBLIC_IP }}
{% else %}
public_ip = {{ IP_ADDRESS }}
public_mask = {{ NETMASK }}
{% endif %}

[imaging_api]
glpi_mode = True
{% if PULSEMAIN_FQDN != '' %}
inventory_host = {{ PULSEMAIN_FQDN }}
{% else %}
inventory_host = 127.0.0.1
{% endif %}
uuid = {{ IMAGING_UUID }}

{% if PULSEMAIN_FQDN != '' %}
[mmc_agent]
host = {{ PULSEMAIN_FQDN }}
{% endif %}
