##########################################################
#          Specific settings for SIVEO test env          #
##########################################################

- name: SIVEOTEST/SUBSTITUTE_AGENT - Find current number of substitutes
  community.mysql.mysql_query:
    login_host: '{{ DBHOST }}'
    login_port: '{{ DBPORT }}'
    login_user: '{{ DBUSER }}'
    login_password: '{{ DBPASSWORD }}'
    login_db: 'xmppmaster'
    query:
      - SELECT COUNT( DISTINCT jidsubtitute ) AS nb_subs FROM substituteconf  WHERE type = 'assessor'
  register: res_query
  when:
    - XMPP_DOMAIN == 'pulse'

- name: SIVEOTEST/SUBSTITUTE_AGENT - Create a second set of substitutes
  ansible.builtin.include_role:
    name: substitute_agent
  with_items:
    - subscription
    - assessor
    - inventory
    - registration
    - logger
    - deployment
    - monitoring
    - reconfigurator
    - updates
  vars:
    SUBS_LONG_TYPE: '{{ item }}'
  when:
    - res_query.query_result[0][0].nb_subs == '1'

- name: SIVEOTEST/TEAMS_USERS - Create users in LDAP
  ansible.builtin.include_role:
    name: create_users
  with_items:
    - { user: 'spo', firstname: 'S', lastname: 'P' }
    - { user: 'nle', firstname: 'N', lastname: 'L' }
    - { user: 'wva', firstname: 'W', lastname: 'V' }
    - { user: 'kno', firstname: 'N', lastname: 'K' }
  vars:
    USER_USERNAME: '{{ item.user }}'
    USER_FIRSTNAME: '{{ item.firstname }}'
    USER_LASTNAME: '{{ item.firstname }}'
  when:
    - XMPP_DOMAIN == 'pulse'

- name: SIVEOTEST/TEAMS_USERS - Create teams and users in DB
  ansible.builtin.include_role:
    name: create_teams
  with_items:
    - { team: 'MainAdmins', user: 'spo' }
    - { team: 'MainAdmins', user: 'nle' }
    - { team: 'RelayAdmins', user: 'wva' }
    - { team: 'RelayAdmins', user: 'kno' }
  vars:
    TEAM_NAME: '{{ item.team }}'
    USER_REGEX: '{{ item.user }}'
  when:
    - XMPP_DOMAIN == 'pulse'
