[connection]
server = {{ IP_ADDRESS }}
password = {{ XMPP_MASTER_PASSWORD }}

[glpi]
enable_forward = True
url_to_forward = {{ ITSM_BASEURL }}/plugins/{{ GLPI_PLUGIN }}/front/plugin_fusioninventory.communication.php

[glpidatabase]
glpi_dbhost = {{ ITSM_DBHOST }}
glpi_dbport = {{ ITSM_DBPORT }}
glpi_dbuser = {{ ITSM_DBUSER }}
glpi_dbpasswd = {{ ITSM_DBPASSWD }}
glpi_dbname = {{ ITSM_DBNAME }}

[xmppdatabase]
xmpp_dbhost = {{ DBHOST }}
xmpp_dbport = {{ DBPORT }}
xmpp_dbuser = {{ DBUSER }}
xmpp_dbpasswd = {{ DBPASSWORD }}
