[connection]
server = {{ IP_ADDRESS }}
password = {{ XMPP_MASTER_PASSWORD }}
jidmastersubstitute = master_{{ subs_short_name }}@{{ XMPP_DOMAIN }}

[xmppdatabase]
xmpp_dbhost = {{ DBHOST }}
xmpp_dbport = {{ DBPORT }}
xmpp_dbuser = {{ DBUSER }}
xmpp_dbpasswd = {{ DBPASSWORD }}

[admindatabase]
admin_dbhost = {{ DBHOST }}
admin_dbport = {{ DBPORT }}
admin_dbuser = {{ DBUSER }}
admin_dbpasswd = {{ DBPASSWORD }}

[mscdatabase]
msc_dbhost = {{ DBHOST }}
msc_dbport = {{ DBPORT }}
msc_dbuser = {{ DBUSER }}
msc_dbpasswd = {{ DBPASSWORD }}

[pkgsdatabase]
pkgs_dbhost = {{ DBHOST }}
pkgs_dbport = {{ DBPORT }}
pkgs_dbuser = {{ DBUSER }}
pkgs_dbpasswd = {{ DBPASSWORD }}