[connection]
server = {{ IP_ADDRESS }}
password = {{ XMPP_MASTER_PASSWORD }}

[glpidatabase]
glpi_dbhost = {{ ITSM_DBHOST }}
glpi_dbport = {{ ITSM_DBPORT }}
glpi_dbuser = {{ ITSM_DBUSER }}
glpi_dbpasswd = {{ ITSM_DBPASSWD }}

[xmppdatabase]
xmpp_dbhost = {{ DBHOST }}
xmpp_dbport = {{ DBPORT }}
xmpp_dbuser = {{ DBUSER }}
xmpp_dbpasswd = {{ DBPASSWORD }}

[kioskdatabase]
kiosk_dbhost = {{ DBHOST }}
kiosk_dbport = {{ DBPORT }}
kiosk_dbuser = {{ DBUSER }}
kiosk_dbpasswd = {{ DBPASSWORD }}

[mscdatabase]
msc_dbhost = {{ DBHOST }}
msc_dbport = {{ DBPORT }}
msc_dbuser = {{ DBUSER }}
msc_dbpasswd = {{ DBPASSWORD }}

[pkgsdatabase]
pkgs_dbhost = {{ DBHOST }}
pkgs_dbport = {{ DBPORT }}
pkgs_dbuser = {{ DBUSER }}
pkgs_dbpasswd = {{ DBPASSWORD }}
