[main]
disable = 0

[database]
dbhost = {{ DBHOST }}
dbport = {{ DBPORT }}
dbuser = {{ DBUSER }}
dbpasswd = {{ DBPASSWORD }}

[products]
families = Win_Malicious, Win10, Win11
Win10_versions = X64_21H2, X64_22H2
Win11_versions = X64
