[main]
disable = 0

[global]
taskdeploy = False

[database]
dbhost = {{ DBHOST }}
dbport = {{ DBPORT }}
dbuser = {{ DBUSER }}
dbpasswd = {{ DBPASSWORD }}

[connection]
server = {{ IP_ADDRESS }}
password = {{ XMPP_MASTER_PASSWORD }}

[defaultconnection]
{% if PUBLIC_IP != '' %}
serverip = {{ PUBLIC_IP }}
{% else %}
serverip = {{ IP_ADDRESS }}
{% endif %}
password = {{ XMPP_MASTER_PASSWORD }}
guacamole_baseurl = http://{{ SERVER_FQDN }}/guacamole/#/client/@@CUX_ID@@?username=root&password={{ GUACAMOLE_ROOT_PASSWORD }}
keyAES32 = {{ AES_KEY }}

[syncthing]
announce_server = {{ STDISCOSRV_URL }}

[grafana_api]
api_key = {{ GRAFANA_ADMIN_KEY }}
render_url = http://{{ SERVER_FQDN }}/grafana/render/d-solo
graph_url = http://{{ SERVER_FQDN }}/grafana/d-solo

[submaster] 
allowed_token = {{ MASTER_TOKEN }} 
