##########################################################
#                   substitute setup                     #
##########################################################

- name: Set version for this playbook
  ansible.builtin.set_fact:
    ROLE_VERSION: '1.1.0'

- name: Display version
  ansible.builtin.debug:
    msg:
    - "{{role_name}} version: {{ ROLE_VERSION }}"

- name: SUBSTITUTE_AGENT - Add the OS specific variables
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}{{ ansible_distribution_major_version }}.yml"
    - "{{ ansible_os_family }}.yml"

- name: SUBSTITUTE_AGENT - Install packages
  ansible.builtin.yum:
    state: latest
    pkg:
      - pulse-xmpp-master-substitute
      - pulse-debug-tools
  when:
    - ansible_distribution == 'CentOS'

- name: SUBSTITUTE_AGENT - Install packages
  ansible.builtin.apt:
    state: latest
    pkg:
      - pulse-xmpp-master-substitute
      - pulse-debug-tools
  when:
    - ansible_distribution == 'Debian'

- name: SUBSTITUTE_AGENT - Install tools needed for the setup
  ansible.builtin.yum:
    state: latest
    pkg:
      - python3.11-PyMySQL
  when:
    - ansible_distribution == 'CentOS' or ansible_distribution == 'RedHat'

- name: SUBSTITUTE_AGENT - Install tools needed for the setup
  ansible.builtin.apt:
    state: latest
    pkg:
      - python3-pymysql
  when:
    - ansible_distribution == 'Debian'

- name: SUBSTITUTE_AGENT - Get value of STDISCOSRV_URL from main mmc
  ansible.builtin.command: grep -m1 -ir '^announce_server' /etc/mmc/plugins/xmppmaster.ini.local
  register: grep_output
  delegate_to: '{{ PULSEMAIN_FQDN if PULSEMAIN_FQDN != "" else omit }}'
  when:
    - STDISCOSRV_URL == ''
    - PULSEMAIN_FQDN is defined
    - PULSEMAIN_FQDN != ''

- name: SUBSTITUTE_AGENT - Set STDISCOSRV_URL variable
  ansible.builtin.set_fact:
    STDISCOSRV_URL: '{{ grep_output.stdout.split("=")[1] }}'
  when:
    - STDISCOSRV_URL == ''
    - PULSEMAIN_FQDN is defined
    - PULSEMAIN_FQDN != ''

- name: SUBSTITUTE_AGENT - Find substitute number
  ansible.builtin.set_fact:
    subs_long_name: '{{ SUBS_NAME }}'
  when:
    - SUBS_NAME != ''

- name: SUBSTITUTE_AGENT - Find current number of substitutes
  community.mysql.mysql_query:
    login_host: '{{ DBHOST }}'
    login_port: '{{ DBPORT }}'
    login_user: '{{ DBUSER }}'
    login_password: '{{ DBPASSWORD }}'
    login_db: 'xmppmaster'
    query:
      - SELECT COUNT( DISTINCT jidsubtitute ) AS nb_subs FROM substituteconf  WHERE type = %(type)s
    named_args:
      type: '{{ SUBS_LONG_TYPE }}'
  register: res_query
  when:
    - SUBS_NAME == ''

- name: SUBSTITUTE_AGENT - Find substitute number
  ansible.builtin.set_fact:
    subs_number: ''
  when:
    - SUBS_NAME == ''
    - res_query.query_result[0][0].nb_subs == 0

- name: SUBSTITUTE_AGENT - Find substitute number
  ansible.builtin.set_fact:
    subs_number: '{{ res_query.query_result[0][0].nb_subs + 1 }}'
  when:
    - SUBS_NAME == ''
    - res_query.query_result[0][0].nb_subs != 0
  
- name: SUBSTITUTE_AGENT - Find substitute number
  ansible.builtin.set_fact:
    subs_number: "{{ SUBS_NAME | regex_replace('[^0-9]', '') }}"
  when:
    - SUBS_NAME != ''

- name: SUBSTITUTE_AGENT - Set subs_short_type value
  ansible.builtin.set_fact:
    subs_short_type: reg
    subs_short_name: 'reg{{ subs_number }}'
    SUBS_LONG_TYPE: registration
    subs_long_name: 'registration{{ subs_number }}'
  when:
    - SUBS_LONG_TYPE == 'registration' or SUBS_NAME.startswith('registration')

- name: SUBSTITUTE_AGENT - Set subs_short_type value
  ansible.builtin.set_fact:
    subs_short_type: asse
    subs_short_name: 'asse{{ subs_number }}'
    SUBS_LONG_TYPE: assessor
    subs_long_name: 'assessor{{ subs_number }}'
  when:
    - SUBS_LONG_TYPE == 'assessor' or SUBS_NAME.startswith('assessor')

- name: SUBSTITUTE_AGENT - Set subs_short_type value
  ansible.builtin.set_fact:
    subs_short_type: inv
    subs_short_name: 'inv{{ subs_number }}'
    SUBS_LONG_TYPE: inventory
    subs_long_name: 'inventory{{ subs_number }}'
  when:
    - SUBS_LONG_TYPE == 'inventory' or SUBS_NAME.startswith('inventory')

- name: SUBSTITUTE_AGENT - Set subs_short_type value
  ansible.builtin.set_fact:
    subs_short_type: subs
    subs_short_name: 'subs{{ subs_number }}'
    SUBS_LONG_TYPE: subscription
    subs_long_name: 'subscription{{ subs_number }}'
  when:
    - SUBS_LONG_TYPE == 'subscription' or SUBS_NAME.startswith('subscription')

- name: SUBSTITUTE_AGENT - Set subs_short_type value
  ansible.builtin.set_fact:
    subs_short_type: log
    subs_short_name: 'log{{ subs_number }}'
    SUBS_LONG_TYPE: logger
    subs_long_name: 'logger{{ subs_number }}'
  when:
    - SUBS_LONG_TYPE == 'logger' or SUBS_NAME.startswith('logger')

- name: SUBSTITUTE_AGENT - Set subs_short_type value
  ansible.builtin.set_fact:
    subs_short_type: mon
    subs_short_name: 'mon{{ subs_number }}'
    SUBS_LONG_TYPE: monitoring
    subs_long_name: 'monitoring{{ subs_number }}'
  when:
    - SUBS_LONG_TYPE == 'monitoring' or SUBS_NAME.startswith('monitoring')

- name: SUBSTITUTE_AGENT - Set subs_short_type value
  ansible.builtin.set_fact:
    subs_short_type: reconf
    subs_short_name: 'reconf{{ subs_number }}'
    SUBS_LONG_TYPE: reconfigurator
    subs_long_name: 'reconfigurator{{ subs_number }}'
  when:
    - SUBS_LONG_TYPE == 'reconfigurator' or SUBS_NAME.startswith('reconfigurator')

- name: SUBSTITUTE_AGENT - Set subs_short_type value
  ansible.builtin.set_fact:
    subs_short_type: depl
    subs_short_name: 'depl{{ subs_number }}'
    SUBS_LONG_TYPE: deployment
    subs_long_name: 'deployment{{ subs_number }}'
  when:
    - SUBS_LONG_TYPE == 'deployment' or SUBS_NAME.startswith('deployment')

- name: SUBSTITUTE_AGENT - Set subs_short_type value
  ansible.builtin.set_fact:
    subs_short_type: upd
    subs_short_name: 'upd{{ subs_number }}'
    SUBS_LONG_TYPE: updates
    subs_long_name: 'updates{{ subs_number }}'
  when:
    - SUBS_LONG_TYPE == 'updates' or SUBS_NAME.startswith('updates')

- name: SUBSTITUTE_AGENT - Fetch master agent keys from mmc
  ansible.builtin.fetch:
    src: '{{ PYTHON_BASEDIR }}/mmc/plugins/xmppmaster/master/INFOSTMP/{{ item }}'
    dest: /tmp/{{ ansible_hostname }}-{{ item }}
    flat: yes
  with_items:
    - master-public-RSA.key
    - master-all-RSA.key
  delegate_to: '{{ PULSEMAIN_FQDN if PULSEMAIN_FQDN != "" else omit }}'
  when:
    - PULSEMAIN_FQDN is defined
    - PULSEMAIN_FQDN != ''
    - PYTHON_VERSION == 2

- name: SUBSTITUTE_AGENT - Copy master agent keys to substitutes folder
  ansible.builtin.copy:
    src: /tmp/{{ ansible_hostname }}-{{ item }}
    dest: '{{ PYTHON_BASEDIR }}/pulse_xmpp_master_substitute/INFOSTMP/{{ item }}'
  with_items:
    - master-public-RSA.key
    - master-all-RSA.key
  when:
    - PULSEMAIN_FQDN != ''
    - PYTHON_VERSION == 2

- name: SUBSTITUTE_AGENT - Copy master agent keys to substitutes folder
  ansible.builtin.copy:
    src: '{{ PYTHON_BASEDIR }}/mmc/plugins/xmppmaster/master/INFOSTMP/{{ item }}'
    dest: '{{ PYTHON_BASEDIR }}/pulse_xmpp_master_substitute/INFOSTMP/'
    remote_src: true
  with_items:
    - master-public-RSA.key
    - master-all-RSA.key
  when:
    - PULSEMAIN_FQDN == ''
    - PYTHON_VERSION == 2
    
- name: SUBSTITUTE_AGENT/EJABBERD - Register substitute account
  community.general.ejabberd_user:
    username: master_{{ subs_short_name }}
    host: '{{ XMPP_DOMAIN }}'
    password: '{{ XMPP_MASTER_PASSWORD }}'

- name: SUBSTITUTE_AGENT - Create initial config file if needed
  ansible.builtin.copy:
    src: /etc/pulse-xmpp-agent-substitute/agent_master_substitute_{{ subs_short_type }}.ini
    dest: /etc/pulse-xmpp-agent-substitute/agent_master_substitute_{{ subs_short_name }}.ini
    remote_src: yes
  when:
    - subs_number != ''
    
- name: SUBSTITUTE_AGENT - Configure substitute
  ansible.builtin.template:
    src: agent_master_substitute_{{ subs_short_type }}.ini.local.j2
    dest: /etc/pulse-xmpp-agent-substitute/agent_master_substitute_{{ subs_short_name }}.ini.local
    mode: '0644'
    backup: yes

- name: SUBSTITUTE_AGENT/PKI - Configure certificates
  ansible.builtin.copy:
    src: "{{ PKI_PATH }}/{{ SERVER_FQDN }}.pem"
    dest: /etc/pulse-xmpp-agent-substitute/keys/
    remote_src: yes

- name: SUBSTITUTE_AGENT - Additional configuration for assessor substitute
  ansible.builtin.template:
    src: assessor_agent.ini.local.j2
    dest: /etc/pulse-xmpp-agent-substitute/assessor_agent.ini.local
    mode: '0644'
    backup: yes
  when:
    - SUBS_LONG_TYPE == 'assessor'

- name: SUBSTITUTE_AGENT - Additional configuration for deployment substitute
  ansible.builtin.template:
    src: '{{ item }}.ini.local.j2'
    dest: /etc/pulse-xmpp-agent-substitute/{{ item }}.ini.local
    mode: '0644'
    backup: yes
  with_items:
    - loaddeployment
    - wakeonlan
    - wakeonlangroup
  when:
    - SUBS_LONG_TYPE == 'deployment'

- name: SUBSTITUTE_AGENT - Additional configuration for registration substitute
  ansible.builtin.template:
    src: registeryagent.ini.local.j2
    dest: /etc/pulse-xmpp-agent-substitute/registeryagent.ini.local
    mode: '0644'
    backup: yes
  when:
    - SUBS_LONG_TYPE == 'registration'
    
- name: SUBSTITUTE_AGENT - Disable initial service
  ansible.builtin.systemd:
    name: pulse-xmpp-master-substitute-{{ SUBS_LONG_TYPE }}
    enabled: false
    state: stopped
  when:
    - DISABLE_INITIAL_SERVICE

- name: SUBSTITUTE_AGENT - Create service if needed
  ansible.builtin.copy:
    src: /usr/lib/systemd/system/pulse-xmpp-master-substitute-{{ SUBS_LONG_TYPE }}.service
    dest: /usr/lib/systemd/system/pulse-xmpp-master-substitute-{{ subs_long_name }}.service
    remote_src: yes
  when:
    - subs_number != ''

- name: SUBSTITUTE_AGENT - Replace config file path if needed
  ansible.builtin.replace:
    path: /usr/lib/systemd/system/pulse-xmpp-master-substitute-{{ subs_long_name }}.service
    regexp: 'agent_master_substitute_{{ subs_short_type }}'
    replace: 'agent_master_substitute_{{ subs_short_name }}'
  when:
    - subs_number != ''

- name: SUBSTITUTE_AGENT - Create substituteconf records
  community.mysql.mysql_query:
    login_host: '{{ DBHOST }}'
    login_port: '{{ DBPORT }}'
    login_user: '{{ DBUSER }}'
    login_password: '{{ DBPASSWORD }}'
    login_db: 'xmppmaster'
    query:
      - INSERT IGNORE INTO xmppmaster.substituteconf (type, jidsubtitute, relayserver_id) SELECT '{{ SUBS_LONG_TYPE }}', 'master_{{ subs_short_name }}@{{ XMPP_DOMAIN }}', id FROM relayserver
    
- name: SUBSTITUTE_AGENT - Restart service
  ansible.builtin.systemd:
    name: pulse-xmpp-master-substitute-{{ subs_long_name }}
    state: restarted
    
- name: SUBSTITUTE_AGENT - Ensure service is running
  ansible.builtin.systemd:
    name: pulse-xmpp-master-substitute-{{ subs_long_name }}
    state: started
    enabled: yes
    masked: no
