# Configuration needed to generate the bootmenus from machines connected to a relay
ProxyPass "/mmc/imaging/"  "{{ HTTP_PROTOCOL }}://{{ PULSEMAIN_FQDN }}/mmc/imaging/"
ProxyPassReverse "/mmc/imaging/"  "{{ HTTP_PROTOCOL }}://{{ PULSEMAIN_FQDN }}/mmc/imaging/"
