DBADMINUSER: root
DBADMINPASSWD: '{{ ROOT_PASSWORD }}'
GLPI_DBHOST: localhost
GLPI_DBHOST_IP: "{{ query('community.general.dig', GLPI_DBHOST)[0] }}"
GLPI_DBPORT: 3306
GLPI_DBUSER: glpi
GLPI_DBPASSWD: '' # 12 character string. Must be vaulted
GLPI_DBNAME: glpi
GLPI_PLUGIN: glpiinventory # can be glpiinventory or fusioninventory
GLPI_ADMINPASSWD: '{{ ROOT_PASSWORD }}'
GLPI_ROOTUSER_APITOKEN: "{{ lookup('password', '/dev/null chars=ascii_letters,digits length=40') }}"
ORGANISATION: Siveo Medulla
LDAP_BASEDN: 'dc={{ ansible_domain.split(".") | join(",dc=")}}'
INTERFACE: '{{ ansible_default_ipv4.interface }}'
IP_ADDRESS: "{{ vars['ansible_'~INTERFACE].ipv4.address }}"
GLPI_VERSION: '10.0.17'
SERVER_FQDN: '{{ ansible_fqdn }}'
PUBLIC_IP: ''
