[services]
services_list = ejabberd, syncthing, {{ APACHE_DAEMON }}, tomcat, ssh, openldap, mysql, mmc-agent, pulse-xmpp-agent-relay, pulse-package-watching, pulse2-package-server, pulse-xmpp-master-substitute-inventory, pulse-xmpp-master-substitute-registration, pulse-xmpp-master-substitute-logger, pulse-xmpp-master-substitute-monitoring, pulse-xmpp-master-substitute-assessor, pulse-xmpp-master-substitute-reconfigurator, pulse-xmpp-master-substitute-deployment, pulse-xmpp-master-substitute-subscription, pulse-xmpp-master-substitute-updates
