##########################################################
#          Specific settings for SIVEO dev team          #
##########################################################

- name: Set version for this playbook
  ansible.builtin.set_fact:
    ROLE_VERSION: '1.1.0'

- name: Display version
  ansible.builtin.debug:
    msg:
    - "{{role_name}} version: {{ ROLE_VERSION }}"

- name: SIVEODEV - Install a few interesting tools
  ansible.builtin.apt:
    state: latest
    pkg:
      - vim
      - htop
      - less
      - open-vm-tools
      - curl
      - wget
      - winrmcp
    update_cache: yes
  when:
    - ansible_distribution == 'Debian'

- name: SIVEODEV - Set timezone to Europe\Paris
  community.general.timezone:
    name: Europe/Paris

- name: SIVEODEV - Add all users ssh keys to root account
  ansible.posix.authorized_key:
    user: root
    state: present
    key: '{{ item }}'
  with_file:
    - support@argo.pub
    - jfk@jfk-ThinkPad-T530.pub
    - noel@MacBook-Air.pub
    - neoclust@localhost.pub
    - spointu@macbook.pub
    - yvan@rider.pub
    - root@WILLIAMSIVEO.pub
    - xdrien@nbadrien.pub
    - amandine.pub
    - calvin.pub
    - hassan.pub

- name: SIVEODEV - Set permissions for Workbench
  community.mysql.mysql_user:
    login_user: '{{ DBADMINUSER }}'
    login_password: '{{ DBADMINPASSWD }}'
    name: '{{ DBADMINUSER }}'
    host_all: true
    append_privs: true
    priv: '*.*:ALL'
  no_log: True
  when:
    - PULSEMAIN_IP == ''

- name: SIVEODEV - Allow access to databases for automatic testing
  community.mysql.mysql_user:
    login_user: '{{ DBADMINUSER }}'
    login_password: '{{ DBADMINPASSWD }}'
    name: '{{ DBADMINUSER }}'
    host: '{{ item.ip }}'
    append_privs: true
    priv: '*.*:ALL'
  loop: '{{ DB_ALLOWED_IPS }}'
  no_log: True
  when:
    - PULSEMAIN_IP == ''

- name: SIVEODEV - Install python modules needed for deploy_pulse_files_from_git.py
  ansible.builtin.apt:
    state: latest
    pkg:
      - python3-pip
      - python3-git
  when:
    - ansible_distribution == 'Debian'

- name: SIVEODEV - Create folders for mounting first windows machine filesystem to /root
  ansible.builtin.file:
    path: '{{ item }}'
    state: directory
    mode: '0755'
  with_items:
  - /root/{{ ansible_hostname }}-win-10-1/site-packages
  - /root/{{ ansible_hostname }}-win-10-1/pulse

- name: SIVEODEV - Mount first windows machine filesystem to /root
  ansible.builtin.lineinfile:
    path: /etc/fstab
    line: '{{ item }}'
  with_items:
  - pulseuser@{{ ansible_hostname }}-win-10-1.siveo.lan:c:\\Program\ Files\\Python311\\Lib\\site-packages        /root/{{ ansible_hostname }}-win-10-1/site-packages        fuse.sshfs        port={{ CLIENTS_SSH_PORT }},user,noauto,noatime     0 0
  - pulseuser@{{ ansible_hostname }}-win-10-1.siveo.lan:c:\\Program\ Files\\Pulse        /root/{{ ansible_hostname }}-win-10-1/pulse        fuse.sshfs        port={{ CLIENTS_SSH_PORT }},user,noauto,noatime     0 0

- name: SIVEODEV - Create vim plugin directory
  ansible.builtin.file:
    path: ~/.vim/pack/vendor/start
    state: directory

- name: SIVEODEV - Clone Vim AnsiEsc plugin from git
  ansible.builtin.git:
    repo: https://github.com/powerman/vim-plugin-AnsiEsc.git
    dest: ~/.vim/pack/vendor/start/AnsiEsc
  notify: SIVEODEV - Reload Vim

- name: SIVEODEV - Configure .vimrc to activate AnsiEsc by default
  ansible.builtin.blockinfile:
    path: ~/.vimrc
    marker: '" {mark} ANSIBLE MANAGED BLOCK'
    block: |
      " Enable AnsiEsc for all files
      let g:AnsiEsc_guicolors = 1

      " Function to check for ANSI escape sequences and apply AnsiEsc if found
      function! ApplyAnsiEscIfNeeded()
          if search('\e\[[0-9;]*m', 'nw') != 0
              AnsiEsc
          endif
      endfunction

      " Automatically apply AnsiEsc to files containing ANSI escape sequences
      autocmd BufRead * call ApplyAnsiEscIfNeeded()
  notify: SIVEODEV - Reload Vim

- name: SIVEODEV - Copy dev scripts
  ansible.builtin.copy:
    src: '{{ item }}'
    dest: /usr/sbin/
    mode: '0755'
    owner: root
  with_items:
    - medulla_dev_gitinit.sh
