- name: Pulse Main
  gather_facts: true
  hosts: mmc
  remote_user: root
  serial: 1

  pre_tasks:
    - name: PULSEMAIN - Set version for this playbook
      ansible.builtin.set_fact:
        PLAYBOOK_VERSION: '5.0.0'

    - name: PULSEMAIN - Display version
      ansible.builtin.debug:
        msg:
        - "Playbook Version: {{ PLAYBOOK_VERSION }}"

  roles:
    - base
    - security
    - pki
    - php
    - ldap
    - mariadb
    - ejabberd
    - syncthing_discosrv
    - syncthing_relay
    - syncthing
    - urbackup
    - ssh
    - { role: glpi, when: (ITSM_DBHOST == 'localhost' and ITSM_TYPE == 'glpi') }
    - { role: itsm-ng, when: (ITSM_DBHOST == 'localhost' and ITSM_TYPE == 'itsm-ng') }
    - guacamole
    - grafana
    - nfs
    - mmc
    - { role: substitute_agent, SUBS_LONG_TYPE: 'subscription' }
    - { role: substitute_agent, SUBS_LONG_TYPE: 'assessor' }
    - { role: substitute_agent, SUBS_LONG_TYPE: 'inventory' }
    - { role: substitute_agent, SUBS_LONG_TYPE: 'registration' }
    - { role: substitute_agent, SUBS_LONG_TYPE: 'logger' }
    - { role: substitute_agent, SUBS_LONG_TYPE: 'deployment' }
    - { role: substitute_agent, SUBS_LONG_TYPE: 'monitoring' }
    - { role: substitute_agent, SUBS_LONG_TYPE: 'reconfigurator' }
    - { role: substitute_agent, SUBS_LONG_TYPE: 'updates' }
    - relay_agent
    - pulse_file_browser
    - pulse_packageserver
    - pxe_registration
    - pulse_imaging
    - medulla_osupdates
    - pulse_main
    - siveotest
