- name: Medulla Imaging feature
  gather_facts: true
  hosts: all
  serial: 1
  remote_user: root
  roles:
    - nfs
    - apache
    - syncthing
    - local_certs
    - pulse_packageserver
    - pxe_registration
    - { role: syncthing_share_folder, SHARE_NAME: 'bootmenus', SHARE_PATH: '/var/lib/pulse2/imaging/bootmenus/', MAIN_SHARE_TYPE: 'sendreceive', RELAY_SHARE_TYPE: 'sendreceive' }
    - { role: syncthing_share_folder, SHARE_NAME: 'postinst', SHARE_PATH: '/var/lib/pulse2/imaging/postinst/', MAIN_SHARE_TYPE: 'sendonly', RELAY_SHARE_TYPE: 'sendreceive' }
    - samba
    - pulse_imaging
