dn: olcDatabase={0}config,cn=config
changetype: modify
replace: olcRootDN
olcRootDN: cn=admin,cn=config
-
replace: olcRootPW
olcRootPW: {{ LDAPSYNCHADMINPASSWD_ENCR }}

{% for item in CLUSTER_SERVERS_LIST %}
dn: cn=config
changetype: modify
add: olcServerID
olcServerID: {{ item }}

{% endfor %}

dn: olcDatabase={0}config,cn=config
changetype: modify
add: olcSyncRepl
{% for item in CLUSTER_SERVERS_LIST -%}
olcSyncRepl:
    rid=00{{ item.split(' ')[0] }}
    provider={{ item.split(' ')[1] }}
    bindmethod=simple
    binddn="cn=admin,cn=config"
    credentials={{ LDAPSYNCHADMINPASSWD }}
    searchbase="cn=config"
    type=refreshAndPersist
    retry="5 5 300 5"
    timeout=1
    starttls=critical
    tls_reqcert=demand
    tls_cacertdir=/etc/ssl/certs/
{% endfor %}
-
add: {{ REPL_ATTRIBUTE }}
{{ REPL_ATTRIBUTE }}: TRUE
